
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #473144;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lora', Impact, serif;
    text-align: center;
    color: #AF1B3F;
    padding: 20px;
}


.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background: #EFC69B;
    color: #473144;
    padding: 10px;
    text-decoration: none;
}
.skiptocontent a:focus {
    top: 0;
}


nav {
    border-top: 2px solid #AF1B3F;
    border-bottom: 2px solid #AF1B3F;
    padding: 10px 0;
    text-align: center;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    list-style: none;
    padding: 0;
}

.main-nav li {
    padding: 0 15px;
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #AF1B3F;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
}

.reviews article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #AF1B3F;
    padding: 10px;
    margin-bottom: 20px;
}

.details {
    font-style: italic;
    color: #AF1B3F;
}

.filters {
    border: 2px solid #EFC69B;
    padding: 20px;
}
